// Place all the styles related to the texts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  display: block;
  margin: 0 auto;
}

ins, del {
  * {
    background: inherit;
  }
}
ins {
  text-decoration: none;
  background: #e6ffe6;
}
del {
  background: #ffe6e6;
}

.text_view {
  margin: 0 auto;
}

.text_view, .tiny_text {
  max-width: 40em;
  width: 100%;
  line-height: 1.5;
  font-size: 1em;
  h2 {
    font-size: 2.1em;
  }
  img {
    max-width: 100%;
    display: block;
    margin: 1em auto;
  }
}

.tiny_text {
  position: fixed;
  right: 30px;
  top: 80px;
  width: 160px;
  font-size: 4px;
  ins {
    background-color: #78FF78 !important;
  }
  del {
    background-color: #EF8888 !important;
    text-decoration: none;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

.metadata {
  position: fixed;
  top: 80px;
}
