<%= react_component(
  'DiffViewer',
  {
    versions: @text.versions,
    version_count: @text.versions.count,
    first_index: 0,
    last_index: @text.versions.count - 1
  },
  # {prerender: true}
) %>

<!-- <div id="one"> -->
<!-- <%= @text.versions[0].text %> -->
<!-- </div> -->
<!-- <br /> -->
<!-- ================ -->
<!-- <br /> -->
<!-- <div id="two"> -->
<!-- <%= @text.latest_version.text %> -->
<!-- </div> -->
